<!-- main table with the list of posts -->
<div class="container my-5">
  <div class="accordion" id="accordionId">

    <div class="row m-2">
      <h2><em>Click on the title to read more</em></h2>
      <button class="btn btn-sm btn-secondary ml-auto" data-toggle="modal" data-target="#newPostModal">
        <i class="fas fa-plus"></i> Add New Post
      </button>
    </div>

    <div class="card" *ngFor="let post of allPostsArr; let i=index">

      <div class="card-header" id="postHeading">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
            attr.data-target="#postid-{{post.id}}" aria-expanded="false" attr.aria-controls="postid-{{post.id}}">
            {{ i+1 }}) {{ post.title }}
          </button>
        </h2>
      </div>

      <div id="postid-{{post.id}}" class="collapse hide" aria-labelledby="postHeading" data-parent="#accordionId">
        <div class="card-body"> {{ post.body }} </div>
        <button type="button" class="btn btn-info m-3"><i class="fas fa-edit"></i> Edit</button>
        <button type="button" class="btn btn-danger float-right m-3" (click)="deletePost(post)">
          <i class="fas fa-trash-alt"></i> Delete </button>
      </div>

    </div>

  </div>
</div>


<!-- whole page spinner/loader -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.7)" size="large" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>



<!-- new post modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3><i class="fas fa-plus"></i> Add New Post </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> &times; </span>
        </button>
      </div>

      <div class="modal-body mt-3">
        <form (ngSubmit)="onSubmit(addNewPostForm.value)" #addNewPostForm="ngForm" method="POST">

          <!-- userId -->
          <div class="form-group">
            <label for="userId" class="text-secondary">User ID</label>
            <input type="number" class="form-control" id="userId" name="userId" ngModel>
          </div>

          <!-- id -->
          <div class="form-group">
            <label for="id" class="text-secondary">ID</label>
            <input type="number" class="form-control" id="id" name="id" ngModel>
          </div>

          <!-- post title -->
          <div class="form-group">
            <label for="title" class="text-secondary">*Post Title</label>
            <input type="text" class="form-control" id="title" name="title" #title="ngModel"
              [class.is-invalid]="title.touched && title.errors" ngModel required>
            <small class="text-danger" *ngIf="title.touched && title.errors?.required">
              Post title is required</small>
          </div>

          <!-- post body -->
          <div class="form-group">
            <label for="body" class="text-secondary">*Post Body</label>
            <input type="text" class="form-control" id="body" name="body" #body="ngModel"
              [class.is-invalid]="body.touched && body.errors" ngModel required>
            <small class="text-danger" *ngIf="body.touched && body.errors?.required">
              Post body is required</small>
          </div>

          <p class="text-secondary my-4">Info:&nbsp; All fields with asterisk (*) are required</p>

          <!-- buttons + info messages -->
          <div class="row">

            <div class="col text-left">
              <button type="submit" class="btn btn-outline-info" [disabled]="!addNewPostForm.form.valid">
                <i class="fas fa-plus"></i> Add
              </button>
            </div>

            <div class="col">
              <!-- success message -->
              <p *ngIf="addNewPostForm.submitted && successMessage" class="text-success">
                <i class="fas fa-check"></i> New post successfully added
              </p>
              <!-- error message -->
              <p *ngIf="addNewPostForm.submitted && errorMessage" class="text-danger">
                <i class="fas fa-exclamation-circle"></i> An error occurred, please try again
              </p>
            </div>

            <div class="col text-right">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                (click)="addNewPostForm.form.reset()"> <i class="fas fa-times"></i> Close
              </button>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
