<nav class="navbar navbar-dark bg-dark">

  <a routerLink="" class="navbar-brand m-0 p-0">
    <img
      src="https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9Mb2dvLU1vY2t1cHMtUHJldmlldy0xLmpwZw&q=90&enlarge=true&h=1036&w=1600"
      alt="Logo" width="100px">
  </a>

  <a routerLink="home" routerLinkActive="active" class="nav-link text-light">Mock-up services list</a>

  <ul class="navbar-nav ml-auto">
    <div class="nav-item input-group alignInputGroup">
      <div class="input-group-prepend">
        <span class="input-group-text" id="input-icon"> <i class="fas fa-search"></i> </span>
      </div>
      <input type="search" class="form-control" placeholder="Search for posts..." [(ngModel)]="searchTerm"
        (ngModelChange)="search($event)">
    </div>
  </ul>

</nav>


<!-- table with the search results -->
<table id="searchTable" class="table table-hover" *ngIf="searchTerm">
  <thead class="bg-dark text-light">Total matches: {{ searchResults.length }} </thead>
  <tbody *ngFor="let post of searchResults">
    <tr>
      <td> {{ post.title }} </td>
    </tr>
  </tbody>
</table>
